<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
          <app-update-team
            [team]="updatedteam"
            [ajout]="ajout"
          ></app-update-team>
        </div>
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom Team</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody *ngFor="let d of tclass">
            <tr>
              <td>{{ d.idt }}</td>
              <td>{{ d.nomTeam }}</td>
              <td>{{d.descriptionTeam}}</td>
              <td><a class="btn btn-success" (click)="update(d)">Modify</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>