<div class="container mt-5">
    <div class="card shadow mb-4">
      <div class="card-header text-black">
        User List
      </div>
      <div class="card-body">
        <table class="table  table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Nom d'utilisateur</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users">
            <tr>
              <td>{{user.user_id}}</td>
              <td>{{user.username}}</td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let role of user.roles">{{role.role}}</li>
                </ul>
              </td>
              <td>
                <button class="btn  btn-sm mb-1" (click)="deleteUser(user.user_id)">
                  <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/filled-trash.png" alt="filled-trash"/>
                </button>
                <button class="btn  btn-sm mt-1 mx-5" [routerLink]="['/add-role-user',user.user_id]">
                  <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/gear.png" alt="gear"/>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  