<div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="card shadow-lg">
          <div class="card-header bg-white border-0 text-center">
            <h4 class="font-weight-bold">Signin</h4>
          </div>
          <div class="card-body">
            <div class="alert alert-danger" *ngIf="err==1">
              <strong>login ou mot de passe erronés..</strong>
            </div>
            <form>
              <div class="form-group">
                <input type="text" id="username" name="username" class="form-control rounded-pill" [(ngModel)]="user.username" placeholder="Username">
              </div>
              <div class="form-group mt-4">
                <input type="password" id="password" name="password" class="form-control rounded-pill" [(ngModel)]="user.password" placeholder="••••••••">
              </div>
              <div class="text-center">
                <button type="button" (click)="onLoggedin()" class="btn btn-dark btn-block mx-auto text-center mt-4 rounded-pill">Signin</button>
              </div>
  
            </form>
          </div>
          <div class="card-footer bg-dark text-white text-center">
            <h5>Welcome back!</h5>
            <p>No account yet? <a class="text-white font-weight-bold" [routerLink]="['/ajouterUser']">Signup.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>